*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}header{
    width: 1000px;
    height: 50px;
    background-color: lightblue;
    color: white;
    
    padding-top: 10px;
}
.main{
    background-color: green;
    width: 300px;
    height: 200px;
text-align: center;color: white;
padding-top: 80px;

}
.side{
    height: 200px;
    background-color: purple;
    width: 150px;
    padding-left: 50px;
    padding-top:80px ;
    color: white;
    margin-left: 5px;
}
.container{
    display: flex;
    margin-left: 200px;
    margin-top: 2px;
}
.twin{
    width: 225px;
    margin-top: 2px;
    height: 180px;
    background-color: orangered;
color: white;
text-align: center;
padding-top: 80px;
}
.container2{
    display: flex;
    gap: 5px;
    margin-left: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}
footer{ width: 1000px;
    height: 50px;
    background-color: rgb(5, 88, 116);
    color: white;
    
    padding-top: 10px;

}